/* CSS Document */
header, section, footer, aside, nav, main, article, figure {
	display: block;
}
body {
	/*background-image: url(Images/fondo_new.png);*/
	background-image: url(Images/fondo_verde.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.deshabilitar{
		pointer-events: none;
	}
.logo {
	height: 50px;
}
.add-button {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	background-color: #0C9;
	color: #FFF;
	border-radius: 50px;
	text-align: center;
	box-shadow: 2px 2px 3px rgb(224, 224, 224);
}
.form-control.dias {
	border: none;
	margin: 0;
}
.row {
	margin-left: 0;
}
.navbar-nav>li.active.nav-item>a.nav-link {
	color: #008C22;
	font-weight: bold;
}
.container {
	min-height: 90vh;
	background-color: #f8f9fa;
}
.w-30 {
	width: 30%!important;
}

@media screen and (max-width: 800px) {
.card.w-30 {
	width: 90%!important;
}
}
.borderColorEC4 {
	border-color: #008C22;
}
.colorEC4 {
	color: #008C22;
}
.fondoColorEC4 {
	background-color: #008C22;
}
.textoColorEC4 {
	text-decoration-color: #008C22;
}
.colorVentas {
	background-color: #f0fff0;
}
.colorIngCampo {
	background-color: #f8f8ff;
}
.colorOperaciones {
	background-color: #f0ffff;
}
.colorIT {
	background-color: #ffebcd;
}
.colorSoporteOp {
	background-color: #e6e6fa;
}
.colorAdmin {
	background-color: #fff0f5;
}
.text-x-large{
	font-size: x-large;
}

.degradado {
background: -webkit-linear-gradient(rgba(0, 150, 0, 0.2), white); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(rgba(0, 150, 0, 0.2), white); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(rgba(0, 150, 0, 0.2), white); /* For Firefox 3.6 to 15 */
background: linear-gradient(rgba(0, 150, 0, 0.2), white); /* Standard syntax */
}

.cursor-hand{
	cursor: pointer;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('Images/loader.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}
.cont{
    background-color: #d4eb002c;
}
